<div class="ui form">
  <%= form_for([:admin, @company]) do |f| %>
      <% if company.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

            <ul>
              <% company.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :company_name, '公司名称' %>
        <%= f.text_field :company_name %>
      </div>

      <div class="field">
        <%= f.label :company_desc, '公司简介' %>
        <%= f.text_area :company_desc %>
      </div>

      <div class="field">
        <%= f.label :company_logo, '公司logo' %>
        <%= f.file_field :company_logo %>
      </div>

      <div class="field">
        <%= f.label :activated, '是否激活' %>
        <%= f.check_box :activated %>
      </div>

      <div class="actions">
        <%= f.submit '提交', class: 'ui primary button' %>
      </div>
  <% end %>
</div>