<p id="notice"><%= notice %></p>
<div class="fourteen wide column">
  <h1>Companies</h1>
  <table class="ui basic single line table">
    <thead>
    <tr>
      <th>公司编号</th>
      <th>公司名</th>
      <th>公司简介</th>
      <th>公司 logo</th>
      <th>公司地址</th>
      <th>联系方式</th>
      <th>是否激活</th>
      <th colspan="3">操作</th>
    </tr>
    </thead>
    <tbody>
    <% @companies.each do |company| %>
        <tr>
          <td><%= company.id %></td>
          <td><%= company.company_name %></td>
          <td title="<%= company.company_desc %>"><%= company.company_desc[0, 30] if company.company_desc %></td>
          <td><%= image_tag(company.company_logo, width: 100) if company.company_logo? %></td>
          <td><%= company.company_address %></td>
          <td><%= company.company_tel %></td>
          <td>
            <% if company.activated? %>
                <i class="large green checkmark icon"></i>
            <% else %>
                <i class="large red remove icon"></i>
            <% end %>
          </td>
          <td><%= link_to "详情", {controller: "admin/companies", action: "show", id: company} %></td>
          <td><%= link_to '编辑', edit_admin_company_path(company) %></td>
          <td><%= link_to '删除', {controller: "admin/companies", action: "destroy", id: company}, data: {method: :delete, confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
    <tfoot class="full-width">
    <tr>
      <th></th>
      <th colspan="16">
        <%= link_to '', href: '/admin/companies/new' do %>
            <div class="ui right floated small primary labeled icon button">
              <i class="upload icon"></i> 添加新公司
            </div>
        <% end %>
      </th>
    </tr>
    </tfoot>
  </table>
</div>


