<p id="notice"><%= notice %></p>
<div class="four wide column"></div>
<div class="six wide column">
  <div class="ui form">
    <div class="inline field">
      <%= label_tag '公司名称:' %>
      <%= @company.company_name %>
    </div>
    <div class="inline field">
      <%= label_tag '公司简介:' %>
      <%= @company.company_desc %>
    </div>
    <div class="inline field">
      <%= label_tag '公司Logo:' %>
      <%= @company.company_logo %>
    </div>
    <div class="inline field">
      <%= label_tag '是否通过验证:' %>
      <%= @company.activated %>
    </div>
    <div class="inline field">
      <%= label_tag '验证时间:' %>
      <%= @company.activated_at %>
    </div>
    <%= link_to '编辑', edit_admin_company_path(@company) %> |
    <%= link_to '后退', admin_companies_path %>
  </div>
</div>