<%
  provide :title, '青松 - 员工管理'
  provide :page_tag, @page_tag
  provide :user_email, current_user.username

  @last_login_time = $last_login_time

  #员工数量
  @employeecount = @employees_count

  #高管账号数量
  @comcount = @com_count

%>

<div class="page_warp">
  <div class="panel">
    <div class="panelcontainer">
      <h1>概况</h1>
      <p>本公司名下目前有 <%= @employeecount %> 名员工, 其中高级管理员有 <%= @comcount %> 名.</p>
    </div>

  </div>


  <div class="panel" id="invitecode_panel" style="display: <%= @invite_codes.count >0 ? 'block' : 'none' %>;">
    <div class="panelcontainer">
      <h1>未被使用的邀请码</h1>
      <div id="invitecodecontainer">
        <% @invite_codes.each do |invite_code| %>
            <div class="invitecode" id="invitecode_<%= invite_code.id %>" style="visibility: visible;">
              <div class="in_id"><%= invite_code.code %></div>
            </div>
        <% end %>
        <div id="invitecode_tips"><span class="fa fa-exclamation-circle"></span>&nbsp;&nbsp;请将邀请码分发给员工以便他们进行注册</div>
      </div>
    </div>

  </div>

  <div class="panel">
    <div class="panelcontainer">
      <h1>员工列表</h1>
      <div class="btn-ghost-green" id="addemployee"><span class="fa fa-user-plus"></span>&nbsp;&nbsp;邀请员工</div>
      <div class="flycode" id="flycode"></div>
    </div>

    <table id="employee_list">
      <tr>
        <th>id</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>联系方式</th>
        <th>上次登录时间</th>
        <th>账号类型</th>
        <th>操作</th>
      </tr>

      <!--以下是员工列表数据的mockup-->

      <% @employees.each { |employee| %>
          <tr>
            <td><%= employee.id %></td>
            <td><%= employee.username %></td>
            <td><%= employee.email %></td>
            <td><%= employee.phone %></td>
            <td><%= employee.last_login_time %></td>
            <td>
              <% if employee.role_id == 1 %>
                  普通员工
              <% else %>
                  高级管理员
              <% end %>
            </td>
            <td class="manage_btn_column">
              <div class="employee_manage_btn fa fa-user-times" data-remodal-target="manage_modal" data-usefor="manage_emp" data-ope="dismiss" data-id="<%= employee.id %>" data-toggle="tooltip" title="解约员工"></div>
              <% if employee.role_id == 1 %>
                  <div class="employee_manage_btn fa fa-arrow-up" data-remodal-target="manage_modal" data-usefor="manage_emp" data-ope="upgrade" data-id="<%= employee.id %>" data-toggle="tooltip" title="升级为高级管理员"></div>
              <% else %>
                  <div class="employee_manage_btn fa fa-arrow-down" data-remodal-target="manage_modal" data-usefor="manage_emp" data-ope="downgrade" data-id="<%= employee.id %>" data-toggle="tooltip" title="降级为普通员工"></div>
              <% end %>
            </td>
          </tr>
      <% } %>
    </table>

  </div>
</div>


<div class="remodal" data-remodal-id="manage_modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1 id="manage_md_title">解约 xxx</h1>
  <p id="manage_md_content">
    解约员工将不会删除员工本身的账号,只是解除了员工与公司之间的关系
  </p>
  <br>
  <button data-remodal-action="cancel" class="btn_red" id="manage_md_cancel">不要解约</button>
  <button data-remodal-action="confirm" class="btn-green" id="manage_md_confirm">解约</button>
</div>

<div class="remodal" data-remodal-id="success_modal">
  <h1 id="success_title">操作成功</h1>
  <p id="success_content">
  </p>
  <br>
  <button data-remodal-action="confirm" class="btn-green">好的</button>
</div>