<%
  provide :title, '青松 - 我的课程'
  provide :page_tag, @page_tag
  provide :user_email, current_user.username

  @last_login_time = "2017-01-02"

  # 全部总共有多少课程(所有被分配到的课程的总和)

  # 已经完成的课程数量
%>

<div class="page_warp">
  <div class="panel">
    <div class="panelcontainer">
      <h1>概况</h1>
      <p>您的学习列表中共有 <%= @total_courses_count %> 个课程, 您已经完成了其中的 <%= @course_finished_count %> 个课程.</p>
      <!--开发未完成-->
      <div id="lasttime_learnprogress" style="display: none">
        <%= image_tag("dev/cover.png") %>
        <div class="last_info_container">
          <p>上次学习到</p>
          <h1>第三节 如何进行税种认定asdasdasdasdasasdadasdaassadasdasdasdasdaweqew</h1>
          <p>&lt;金三期税务管理系统&gt;</p>
        </div>
        <a class="btn-green" id="continuetolearn"><span class="fa fa-arrow-circle-right"></span>&nbsp;&nbsp;继续学习</a>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panelcontainer">
      <h1>学习列表</h1>
    </div>
    <% @lessons.each do |lesson| %>
        <!--课程系统-->
        <div class="coursesys_container">
          <div class="cc_main">
            <%= image_tag("dev/cover.png") %>
            <div class="cc_titleinfo">
              <h1><%= lesson.lesson_name %></h1>
              <p><%= lesson.lesson_desc %></p>
              <!-- ↓ data-for 要和下面的 data-panel 一样  (每个课程面板这里要不一样) //删掉此评论 -->
              <div class="btn-ghost-green expandbtn" data-for="lesson-<%= lesson.id %>">
                <span class="fa fa-chevron-circle-down"></span>&nbsp;&nbsp;展开
              </div>
            </div>
          </div>
          <div class="cc_listcontainer" data-panel="lesson-<%= lesson.id %>" style="">
            <div class="cc_hr"></div>
            <div class="cc_circle"></div>
            <% lesson.courses.each do |course| %>
                <% user_course = course.user_courses.where({:user_id => @current_user_id}).first %>
                <% if user_course %>
                    <div class="cc_itemline">
                      <% if user_course.is_finished %>
                          <div class="cc_done">已完成</div>
                      <% else %>
                          <div class="cc_done">完成 <%= user_course.progress %>%</div>
                      <% end %>
                      <div class="cc_index"><%= course.sort %></div>
                      <% if user_course.progress == 0 || user_course.progress == 100 %>
                          <a target="_blank" class="cc_link" href="/course-sys/<%= lesson.lesson_file_name %>/<%= course.filename[0...-5] %>/course/new/<%= lesson.company_id %>/<%= course.id %>/<%= course.sort %>">
                            <%= course.course_name %>
                          </a>
                      <% else %>
                          <a target="_blank" class="cc_link" href="/course-sys/<%= lesson.lesson_file_name %>/<%= course.filename[0...-5] %>/course/continue/<%= lesson.company_id %>/<%= course.id %>/<%= course.sort %>">
                            <%= course.course_name %>
                          </a>
                      <% end %>
                    </div>
                <% end %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>