<%
provide :title, '青松 - 个人资料'
provide :page_tag, @page_tag
provide :user_email, "1234567890@xxx.com"

#修改表单提交链接
provide :profile_form_submit_to, "xxx"
#修改表单提交方法
provide :profile_submit_method, "post"
%>

<div class="page_warp">
  <div class="panel">
    <div class="panelcontainer">
      <h1 id="edit_basic_profile_title">基本资料</h1>
      <div class="btn-ghost-green" id="edit_basic_profile"><span class="fa fa-pencil"></span>&nbsp;&nbsp;修改</div>
      <div class="btn-green" id="edit_basic_profile_verify"><span class="fa fa-check"></span>&nbsp;&nbsp;确定修改</div>
      <div class="btn-ghost-gray" id="edit_basic_profile_cancel"><span class="fa fa-times"></span>&nbsp;&nbsp;取消</div>
      <%= form_for(yield(:profile_form_submit_to), :html => {id: "edit_basic_profile_form", class:"profileform"} ) do |f| %>
          <div class="input_group">
            <%= f.label(:emp_email,"登录邮箱")
            %>
            <%= f.email_field(:emp_email, placeholder: "用于登录的青松的邮箱", readonly: "readonly" ,value:"等待少星后台填充") %>
            <p class="input_inside_errorbox" id="err_emp_email"></p>
          </div>
          <div class="input_group">
            <%= f.label(:emp_name,"姓名")
            %>
            <%= f.text_field(:emp_name, placeholder: "您的姓名", readonly: "readonly" ,value:"等待少星后台填充") %>
            <p class="input_inside_errorbox" id="err_emp_name"></p>
          </div>
          <div class="input_group">
            <%= f.label(:emp_tel,"个人联系方式")
            %>
            <%= f.text_field(:emp_tel, placeholder: "您的个人联系方式", readonly: "readonly" ,value:"等待少星后台填充") %>
            <p class="input_inside_errorbox" id="err_emp_tel"></p>
          </div>
          <p class="input_errorbox" id="err_submit"></p>
          <br>
      <% end %>
    </div>

  </div>
</div>


<div class="page_warp">
  <div class="panel">
    <div class="panelcontainer">
      <h1 id="edit_basic_profile_title">所属公司资料</h1>
      <!--如果没有加入任何公司才显示-->
        <div class="btn-ghost-green" id="join_com" data-remodal-target="invitecode_modal"><span class="fa fa-sign-in"></span>&nbsp;&nbsp;加入公司</div>
      <!--啦啦啦-->
      <p class="info_line"><span class="info_title">所属公司</span><span class="info_content">等待少星后台填充</span></p>
      <p class="info_line"><span class="info_title">公司联系方式</span><span class="info_content">等待少星后台填充</span></p>
      <!--如果没有加入任何公司才显示-->
        <p class="none_com"><span class="fa fa-exclamation-circle"></span>&nbsp;&nbsp;您还未加入任何公司</p>
      <!--啦啦啦-->
    </div>
  </div>
</div>


<div class="remodal" data-remodal-id="invitecode_modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1 id="invitecode_md_title">加入公司</h1>
  <p id="invitecode_md_content">
    请输入您从公司管理员获得的邀请码
  </p>
  <input id="invitecode" placeholder="邀请码">
  <p id="invitecode_error"></p>
  <br>
  <button class="btn-green" id="invitecode_md_join">确定</button>
</div>