<p id="notice"><%= notice %></p>
<div class="ui grid">
  <div class="row">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
      <h1>Admin Admin Users</h1>
      <table class="ui basic table">
        <thead>
        <tr>
          <th>邮箱</th>
          <th>Password digest</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @admin_admin_users.each do |admin_admin_user| %>
            <tr>
              <td><%= admin_admin_user.email %></td>
              <td><%= admin_admin_user.password_digest %></td>
              <td><%= link_to '详情', admin_admin_user %></td>
              <td><%= link_to '编辑', edit_admin_admin_user_path(admin_admin_user) %></td>
              <td><%= link_to '删除', admin_admin_user, method: :delete, data: {confirm: 'Are you sure?'} %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>


