<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @admin_admin_user.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @admin_admin_user.password_digest %>
</p>

<%= link_to 'Edit', edit_admin_admin_user_path(@admin_admin_user) %> |
<%= link_to 'Back', admin_admin_users_path %>
