<%
  # 读取json文件内容,
  @course_json = @course_json_content

  #静态资源地址
  @load_course_url = '/sys/load-course'

  #课程名称
  @course_sys_name = @course_sys_name

  #课程文件id <- 新增 (去掉新增两个字)
  @course_file_id= @course_id

  #是否加载上次进度 <- 新增 (去掉新增两个字)
  @load_progress = false;

  #这节课的课程url地址 <- 新增 (去掉新增两个字)
  @url_course = "";

  #这节课的考核url地址 <- 新增 (去掉新增两个字)
  @url_exam = "";

  #公司id
  @company_id = @company_id

  #课程中文名
  @couse_sys_name_cn = "某某系统";


  @index_file = read_course_config(@course_sys_name, @company_id)['indexfile']
%>

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tag %>
  <title><%= @couse_sys_name_cn %>&nbsp;|&nbsp;青松课程设计</title>
  <%= javascript_include_tag 'client/coursesys/qsdecoder' %>
  <%= stylesheet_link_tag 'client/coursesys/qsstyle' %>
  <script>
      var Qsc;
      $(function(){
          var qsd = new qsdecoder();
          var coursejson = <%= raw @course_json %>;

          qsd.init({
              indexfile:"<%= @index_file %>",
              qscname:"<%= @course_sys_name %>",
              qsccompanyflag:"<%= @company_id %>",
              debug: false,
              coursejson: coursejson,
              coursesort: "<%= @course_sort %>",
              coursefileid: <%= @course_file_id %>,
              type: "<%= @type %>",
              load: <%= @load_progress %>
          });

          Qsc = qsd.api;
      });


  </script>

</head>
<body>
  <div class="qsc_title">
    <%= image_tag("indexpages/logo.png") %>
    <div>&nbsp;|&nbsp;<%= @couse_sys_name_cn %></div>
  </div>
  <div class="qsc_titlehint">您正在使用青松课程系统进行课程学习</div>
  <div class="qsc_warp">

    <!--青松内置浏览器-->
    <div class="qsc_browser">
      <div class="qsc_browser_toolbar">
        <%= image_tag("indexpages/windowsbtn.png",:class => "qsc_browser_fakebtn") %>
        <div class="qsc_browser_title"></div>
      </div>
      <div class="qsc_browser_border">
        <div class="qsc_browser_innerlayer">
          <div class="qsc_mask_real" id="qsc_mask_realtop" tabindex="1"></div>
          <div class="qsc_mask_real" id="qsc_mask_realbottom" tabindex="1"></div>
          <div class="qsc_mask_real" id="qsc_mask_realleft" tabindex="1"></div>
          <div class="qsc_mask_real" id="qsc_mask_realright" tabindex="1"></div>
          <div class="qsc_mask_real" id="qsc_mask_realfull" tabindex="1"></div>
          <div class="qsc_mask" id="qsc_mask_top" data-masktype="partmask" tabindex="1"></div>
          <div class="qsc_mask" id="qsc_mask_bottom" data-masktype="partmask" tabindex="1"></div>
          <div class="qsc_mask" id="qsc_mask_left" data-masktype="partmask" tabindex="1"></div>
          <div class="qsc_mask" id="qsc_mask_right" data-masktype="partmask" tabindex="1"></div>
          <div class="qsc_mask" id="qsc_mask_full" tabindex="1"></div>
          <%= image_tag("indexpages/correct.png",:class => "qsc_correct_icon") %>
          <div id="qsc_course_container"></div>
        </div>
      </div>

    </div>

  </div>
  <div class="qsc_course_toolbar_placerholder" id="qsc_toolbar_placeholder"></div>
  <div class="qsc_course_toolbar_placerholder" id="qsc_exam_keypoint">
    <div class="qsc_e_keypoint_warp">
      <h1>考核要点</h1>
      <ul id="qsc_e_keypoints">
      </ul>
    </div>
    <div class="qsc_e_handin_warp">
      <div id="qsc_e_handin_btn"><span class="fa fa-check-square-o"></span>&nbsp;&nbsp;提交答卷</div>
      <p>当您认为你已经完成了所有步骤的时候,点击上面的按钮提交并结算考核成绩</p>
    </div>
  </div>

  <div class="qsc_course_toolbar" id="qsc_course_toolbar">
    <div class="qsc_t_background"></div>
    <div class="qsc_t_content">
      <div class="qsc_t_step">
        <div class="qsc_t_stepicon" id="qsc_stepnum"></div>
        <div class="qsc_t_stepcontent" id="qsc_step"></div>
      </div>
      <div class="qsc_t_action" id="qsc_action">
        <div id="qsc_action_content"></div>
        <div id="qsc_action_react"></div>
      </div><br>
      <div class="qsc_t_description" id="qsc_action_desc"></div>
      <div class="qsc_t_indicator_container">
        <div class="qsc_t_indicator done"></div>
        <div class="qsc_t_indicator"></div>
      </div>
    </div>

  </div>

  <div class="qsc_course_toolbar" id="qsc_course_toolbar_finish">
    <div class="qsc_t_background"></div>
    <div class="qsc_t_content">
      <h1 class="qsc_tf_title">-&nbsp;&nbsp;本节课的内容已经完成&nbsp;&nbsp;-</h1>
      <p class="qsc_tf_hint">接下来您可以选择:</p>
      <div class="qsc_tf_btngroup">
        <%= link_to("再学一次这节课",@url_course,:class=>'qsc_tf_btn') %>
        <%= link_to("进行这节课的考核",@url_exam,:class=>'qsc_tf_btn') %>
      </div>
    </div>
  </div>

  <div class="qsc_exam_toolbar" id="qsc_exam_toolbar">
    <div class="qsc_e_background"></div>
    <div class="qsc_e_content">
      <div class="qsc_e_time">
        <p>您已用时</p>
        <h1 id="qsc_e_timer">00:00:00</h1>
      </div>
    </div>
  </div>

  <div id="qsc_exam_mask">
    <div id="qsc_exam_mask_bg"></div>
    <div id="qsc_exam_mask_content">
      <p>-&nbsp;您的得分&nbsp;-</p>
      <h1 id="qsc_exam_score"></h1>
      <div id="qsc_exam_errinfo_warp">
        <p>您有以下的不足:</p>
        <ul id="qsc_exam_errinfo">
        </ul>
      </div>
      <%= link_to("再考一次",@url_exam,:class=>'qsc_exam_again_btn') %>
    </div>
  </div>

</body>
</html>