<p id="notice"><%= notice %></p>

<h1>Lessons</h1>

<table class="ui table">
  <thead>
    <tr>
      <th>Lesson name</th>
      <th>Lesson desc</th>
      <th>Lesson cover</th>
      <th>Lesson file url</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.lesson_name %></td>
        <td><%= lesson.lesson_desc %></td>
        <td><%= image_tag(lesson.lesson_cover,width: 40) %></td>
        <td><%= link_to '点击下载',"#{lesson.lesson_file_url}" %></td>
        <td><%= lesson.company.company_name %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lesson', new_lesson_path %>
