<div class="ui middle aligned center aligned grid">
  <div class="eight column">
    <h2 class="ui teal image header">
      <img src="<%= image_url('logo.png') %>" class="image">
      <div class="content">
        注册管理账户
      </div>
    </h2>
    <%= form_for(admin_admin_user, :html => {class: 'ui large form'}) do |f| %>
        <% if admin_admin_user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(admin_admin_user.errors.count, "error") %> prohibited this admin_admin_user from being
                saved:</h2>
              <ul>
                <% admin_admin_user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <%= f.text_field :email, placeholder: '邮箱' %>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password, placeholder: '密码' %>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <%= f.password_field :password_confirmation, placeholder: '确认密码' %>
            </div>
          </div>
          <div class="actions">
            <div class="ui fluid large teal submit button">注册</div>
          </div>
        </div>
        <div class="ui error message"></div>

    <% end %>
    <div class="ui message">
      已有账号? <%= link_to '去登录', 'login' %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document)
        .ready(function () {
            $('.ui.form')
                .form({
                    fields: {
                        email: {
                            identifier: 'admin_admin_user[email]',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: '请输入账号'
                                },
                                {
                                    type: 'email',
                                    prompt: '邮箱格式不正确'
                                }
                            ]
                        },
                        password: {
                            identifier: 'admin_admin_user[password]',
                            rules: [
                                {
                                    type: 'empty',
                                    prompt: '请输入密码'
                                }
                            ]
                        },
                        match: {
                            identifier: 'admin_admin_user[password_confirmation]',
                            rules: [
                                {
                                    type: 'match[admin_admin_user[password]]',
                                    prompt: '请输入相同的密码'
                                }
                            ]
                        }
                    }
                })
            ;
        })
</script>