<!DOCTYPE html>
<html>
<head>
  <title>QingSong</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'admin/commons/navbar' %>
  <div class="ui grid">
    <div class="row">
      <div class="one wide column"></div>
      <%= yield %>
    </div>
  </div>
</body>
</html>
